<form>
    <div class="main-content">
        <div class="form-group">
            <label for="strokeColor">{{localize "DRAWING.StrokeColor"}}</label>
            <div class="form-fields">
                <input class="color" type="text" name="strokeColor" value="{{strokeColor}}">
                <input type="color" value="{{strokeColor}}" data-edit="strokeColor">
            </div>
        </div>

        <div class="form-group">
            <label for="strokeAlpha">{{localize "DRAWING.LineOpacity"}}</label>
            <div class="form-fields">
                <input type="range" name="strokeAlpha" value="{{strokeAlpha}}" min="0" max="1" step="0.1">
                <span class="range-value">{{strokeAlpha}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="fillColor">{{localize "DRAWING.FillColor"}}</label>
            <div class="form-fields">
                <input class="color" type="text" name="fillColor" value="{{fillColor}}">
                <input type="color" value="{{fillColor}}" data-edit="fillColor">
            </div>
        </div>

        <div class="form-group">
            <label for="fillAlpha">{{localize "DRAWING.FillOpacity"}}</label>
            <div class="form-fields">
                <input type="range" name="fillAlpha" value="{{fillAlpha}}" min="0" max="1" step="0.1">
                <span class="range-value">{{fillAlpha}}</span>
            </div>
        </div>
    </div>

    <div class="flexrow">
        <button type="submit"><i class="fas fa-save"></i> {{localize "SETTINGS.Save"}}</button>
        <button type="button" name="reset"><i class="fas fa-undo"></i> {{localize "SETTINGS.Reset"}}</button>
    </div>
</form>